@CHARSET "UTF=8";
* {
    font-family: "MeiryoKe_Console" !important;
}
body {
    font-family: "MeiryoKe_Console" !important;
    font-size: 13px;
}
pre, code {
    font-family: "MeiryoKe_Console" !important;
    font-size: 12px;
}
