/* Message body */
div.ii>div {
    font-family: "mgenplus-1mn-regular" !important;
    font-size: 100% !important;
    line-height: 120% !important;
width: 80ex !important;
}

/* Send form (current version) */
div.At>textarea.Ak {
    font-family: "mgenplus-1mn-regular" !important;
    font-size: 100% !important;
    line-height: 120% !important;
}

/* Send form (new version) */
div.Am.Al.editable.LW-avf {
    font-family: "mgenplus-1mn-regular" !important;
    font-size: 100% !important;
    line-height: 120% !important;
}
