@CHARSET "UTF=8";
* {
    font-family: "MeiryoKe_UIGothic";
}
body {
    font-family: "MeiryoKe_UIGothic" !important;
    font-size: 14px;
}
pre, code {
    font-family: "MeiryoKe_Console" !important;
    font-size: 12px;
}
